
        h4 {
            text-align:center;
        }
        h1 {
            text-align:center;
            font-size:2em;
            font-family:fantasy;
        }
        p {
            text-align:center;
            font-size:1.2em;
            margin-right:130px;
            margin-left:130px;
        }
        #school-pic {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            border: 6px double grey;
                }
        body {
            background-color:tan;
        }

          h3 {
            text-align:center;
            font-size:2em;
            text-decoration: underline;
        }
        
    #panther {
         display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 10px groove grey;
    }
    #basketball-pic {
         border: 10px groove grey;
         display: block;
         margin-left: auto;
         margin-right: auto;
         height: 300px;
        }
  #flower {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border: 10px ridge grey;
        }
